@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

    /*Header*/
header{
    background-color: rgb(184, 184, 184);
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}
header #inicio{
    width: 75%;
    margin: 0 auto;
    position: relative;
    
}
header #inicio .logo{
    display: inline-block;
    margin-top: 10px;
}
header #inicio #logo2{
    position: absolute;
    right: 0px;
    margin-top: 20px;  
}

    /*Main*/

main{
    width: 80%;
    margin: 0 auto;
    position: relative;
}
main #principal img{
    width: 100%;
}
main #principal #seta{
    width: 5%;
    position: absolute;
    right: 50%;
    top: 550px;
}

    /*Formulario*/

main #principal form{
    width: 30%;
    background-color: #a8a8a8ca;
    padding: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
}
main #principal form legend{
    font-size: 28px;
    background-color: #a8a8a8b0;
    margin: -20px -20px 10px -20px;
    padding: 20px;
    font-weight: 600;
}
main #principal form p{
    font-size: 18px;
    color: rgb(62, 62, 62);
    text-align: left;
    margin: 30px 50px 0 50px;
}
main #principal form input{
    width:80%;
    height: 40px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 0 5px;
    box-sizing: border-box;
}
main #principal form input:focus{
    outline: 0;
}
main #principal form #bt{
    margin-top: 40px;
    background-color: rgb(56, 56, 136);
    color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.504);
}
main #principal form #bt:hover{
    background-color: rgb(15, 15, 73);
}
main #principal form #bt:active{
    background-color: rgb(7, 7, 46);
}

    /*Abaixo*/

main section{
    background-color: rgb(156, 156, 253);
    height: 250px;
    display: flex;
    margin-bottom: 5px;
    box-sizing: border-box;
}
main .section{
    font-size: 35px;
    text-align: center;
    flex-direction: column;
    padding-top: 70px;
    

}
main .section h2{
    font-size: 25px;
    margin-top: 15px;
}
main .flex .escrito{
    width: 50%;
    margin: 25px 10px; 
}

main .flex .mosaico{
    height: 100%;       /*para fazer para mobile devo mudar isso.*/
    right: 0;

}
main .flex img{
    height: 100%;

}



